@model IEnumerable<ApplicationUser>
@{
    ViewData["Title"] = "All Users";
    int count = 0;
}

<h2 class="text-center">@ViewData["Title"]</h2>
<hr />

<table class="table table-striped table-dark">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">User Name</th>
            <th scope="col">Make Admin</th>
            <th scope="col">Make Support</th>
            <th scpoe="row">Autorize</th>
            <th scpoe="row">Edit Credentials</th>
        </tr>
    </thead>
    <tbody>
        @foreach (ApplicationUser user in Model)
        {
            count++;
            <tr>
                <th scope="row">@count</th>
                <td>@user.Email</td>
                @{
                    if (user.IsAdmin)
                    {
                        <td>
                            <div class="form-inline align-self-center">
                                <a class="btn btn-danger" asp-area="Admin" asp-controller="User" asp-action="RemoveAdmin"
                                   asp-route-id="@user.Id" confirm="Are your sure?">Remove Admin Rights</a>
                            </div>
                        </td>
                    }
                    else
                    {
                        <td>
                            <div class="form-inline align-self-center">
                                <a class="btn btn-success" asp-area="Admin" asp-controller="User" asp-action="AddAdmin"
                                   asp-route-id="@user.Id" confirm="Are your sure?">Add Admin Rights</a>
                            </div>
                        </td>
                    }

                    if (user.IsSupport)
                    {
                        <td>
                            <div class="form-inline align-self-center">
                                <a class="btn btn-danger" asp-area="Admin" asp-controller="User" asp-action="RemoveSupport"
                                   asp-route-id="@user.Id" confirm="Are your sure?">Remove Support Rights</a>
                            </div>
                        </td>
                    }
                    else
                    {
                        <td>
                            <div class="form-inline align-self-center">
                                <a class="btn btn-success" asp-area="Admin" asp-controller="User" asp-action="AddSupport"
                                   asp-route-id="@user.Id" confirm="Are your sure?">Add Support Rights</a>
                            </div>
                        </td>
                    }

                    if (user.IsAuthorized)
                    {
                        <td>
                            <div class="form-inline align-self-center">
                                <a class="btn btn-danger" asp-area="Admin" asp-controller="User" asp-action="RemoveAutorization"
                                   asp-route-id="@user.Id" confirm="Are your sure?">Remove Autorization</a>
                            </div>
                        </td>
                    }
                    else
                    {
                        <td>
                            <div class="form-inline align-self-center">
                                <a class="btn btn-success" asp-area="Admin" asp-controller="User" asp-action="AddAutorization"
                                   asp-route-id="@user.Id" confirm="Are your sure?">Add Autorization</a>
                            </div>
                        </td>
                    }
                }

                <td>
                    <div class="form-inline align-self-center">
                        <a class="btn btn-danger" asp-area="Admin" asp-controller="User" asp-action="Edit"
                           asp-route-id="@user.Id" confirm="Are your sure?">Edit Credentials</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
