@model ProjectViewModel;

<div class="col-md-2">
    <div class="card mb-3">
        <div class="card-body text-center">
            <h4>@Model.Name</h4>
            <h6>Tickets: <b>@Model.TicketCount</b></h6>
            <h6>
                Description: <b>@Model.Description</b>
            </h6>
            <br />

            <a asp-controller="Project" asp-action="Details" asp-route-id="@Model.Id"
               class="btn btn-success">Details</a>


            @if (this.User.IsInRole("Admin"))
            {
                <p></p>
                <a asp-controller="Project" asp-action="Delete" asp-route-id="@Model.Id"
                   class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this?');">Delete</a>
                <p></p>
            }
        </div>
    </div>
</div>

